

#Julio {
  font-family: 'Parisienne', cursive;
  color: #66BFBF;
  font-size: 5rem;
  margin-bottom: 2px;
  text-shadow: 3px 2px darkgrey;

}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #11999E;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
}


p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  color: #79797C;
}

hr {
  width: 10%;
  border-top: 5px dotted grey;
  margin: 40px auto;
}

body {
  margin: 0;
  text-align: center;
  background-color: #e8e9e8;
}

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table td {
    border: 2px solid blue;
  }

li {
  color: #79797C;
}

.top_container {
  background-color: #d1e9e9;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.profile {
  background-image: url(https://media.giphy.com/media/h6lkNEeOQVTlqDkfWY/giphy.gif);
  background-size: contain;
  padding-top: 100px;
}

.job {
  text-align: left;
  font-size: 1.25rem;
}


.skills {
  margin: 100px auto 50px auto;
  width: 60%;
  height: 20%;
}

.skill-row {
  margin: 100px auto 50px auto;
  width: 50%;
  height: 20%;
}


.illustrator .photoshop .html .css .js .web .designer {
  font-size: 2rem;
}

.illustrator:hover, .photoshop:hover, .html:hover, .css:hover, .js:hover{
  background-color: lightblue;
  font-size: 2.25rem;
}


.illustrator {
  background-image: url(https://media.giphy.com/media/xT6NBzAZ0MGwxmmYlt/giphy.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100px;
  text-align: left;
  text-indent: 10%;
}

.photoshop {
  background-image: url(https://media.giphy.com/media/ZLLZcHDe4RpWEl9INg/giphy.gif);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  background-position: right;
  text-align: left;
  text-indent: 10%;

}



.web {
  color: green;
  text-shadow: 2px 1px darkgrey;
}

.designer {
  color: purple;
  text-shadow: 2px 1px darkgrey;
}

.singing {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}


.basketball {
  width: 50%;
  margin: 200px auto;
  line-height: 2;
  text-align: left;
}

.microphone {
  width: 30%;
  float: left;
}

.michael {
  width: 30%;
  float: right;
}

.bottom-container {
  position: relative;
  margin: 0;
}

.FrontEnd {
  height: 0;
}

.footer-linkedin {
  display: inline-block;
}

.footer-twitter {
  display: inline-block;
  margin-top: 5px;
}

.footer-link {
  display: inline-block;
}

.copyright {
  color: #DEF3F0;
}
